# Ignore the .gitignore file itself
# .gitignore

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.env/

# Ignore VS Code settings
.vscode/

# Ignore specific Python file
csv_to_excel_with_regx_value,positives,comment.py

# Ignore specific Python file in a subdirectory
# Add specific files here if needed

# Ignore all Excel files in a subdirectory
excel_files/summary_metrics(1).xlsx
output_excel_18-12-2024.xlsx
output_excel_18-12-2024_with_regx_value_positives_comments.xlsx